<head>
</head>
<body>
<h1 class="page-header">{{pageHeader}}</h1>
<h2>Hello, {{user.firstName}}</h2>
<div>
  <ul>
    <li>First name: {{user.firstName}}</li>
    <li>Surname: {{user.surname}}</li>
    <li>E-mail: {{user.email}}</li>
  </ul>
</div>
<div class="friend_request_section">
  <h2>Friend Requests:</h2>
  {{#each user.friendRequests}}
    <div>
      <span>{{this.firstName}} {{this.surname}}</span>
      <button>Accept</button>
      <button>Reject</button>
    </div>
  {{/each}}
</div>
</body>