<head>
  <meta name="user_id" content="{{user._id}}">
  <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
  <script src="/javascripts/acceptRejectRequests.js"></script>
</head>
<body>
<div class="page-header">
  <h1>{{pageHeader}}</h2>
</div>
<h2>Hello, {{user.firstName}}</h2>
<div class="post">
  <h2>Info:</h2>
  <ul>
    <li>First name: {{user.firstName}}</li>
    <li>Surname: {{user.surname}}</li>
    <li>E-mail: {{user.email}}</li>
  </ul>
</div>
<div class="post" id="friends_section">
  <h2>Friends:</h2>
  {{#each user.friends}}
    <div class="friend">
      {{this.firstName}} {{this.surname}}
    </div>
  {{/each}}
</div>
<div class="post" id="friend_request_section">
  <h2>Friend Requests:</h2>
  <p id="request_message"></p>
  {{#each user.friendRequests}}
    <div class="friend_request" id="{{this._id}}">
      <span>{{this.firstName}} {{this.surname}}</span>
      <span hidden>{{this._id}}</span>
      <button class="accept_friend">Accept</button>
      <button class="reject_friend">Reject</button>
    </div>
  {{/each}}
</div>
</body>